@keyframes fadeRight {
    0% {
      transform: translateX(-100%);
      opacity:1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 1;
    }
  }
  @media (max-width: 770px) {
    .animate-fade-right {
      animation: fadeRight 0.5s ease-out forwards;
    }
  
    .animate-fade-left {
      animation: fadeLeft 0.5s ease-in forwards;
    }
  }