
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;






body{
    font-family: "Poppins", sans-serif;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: italic;
  }





  .spirax-regular {
    font-family: "Spirax", system-ui;
    font-weight: 900;
    font-style: normal;
  }
  


  